body {
    font-family: "pacaembu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1D2B53;
    color: whitesmoke;
}

#header {
    display: flex;
    justify-content: space-around;
    background-color: #7E2553;
}

nav {
    background-color: #7E2553;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    border: solid 2px #7E2553;
    width: 50%;
    background-color: #1D2B53;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
}

.post-title {
    color: #FAEF5D;
}

.post-card {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;

}

.input {
    border: solid 1px #7E2553;
    background-color: #1D2B53;
}

h1 {
    font-family: "pacaembu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: #FAEF5D;
    background-color: #7E2553;
    margin: 5px;
}

.button {
    background-color: #1D2B53;
    border: solid 1px #FAEF5D;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 4px;
    color: whitesmoke;
    text-decoration: none;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style-type: none;
    
}
 
